<ons-page ng-controller="Home" class="home fullscreen">
    <ons-toolbar class="toolbar-transparent">
        <div class="left">
            <ons-button ng-click="goToSettings()"><img class="header-icon" src="img/icon_profile.png" alt="" style="padding-left:10px;">
            </ons-button>
        </div>
        <div class="center"></div>
        <div class="right">
            <ons-button ng-click="goToNotifications()" class="badge-item" style="padding-right:10px;padding-left: 10px;">
                <span ng-show="total_notifications>0" class="badge">{{ total_notifications }}</span>
                <img class="header-icon" src="img/icon_notification.png" alt="">
            </ons-button>
        </div>
    </ons-toolbar>

    <ons-carousel swipeable overscrollable auto-scroll fullscreen auto-scroll-ratio="0.2" class="relative home-carousel"
                  var="homeCarousel">
        <ons-carousel-item ng-repeat="item in params.slider track by $index" ng-click="setCity(item.id)">
            <div class="preview" ng-class="{'make-callback': $index == 0}" src="{{ trustSrc(item.image) }}"></div>
            <!--<div class="video" ng-show="item.video != ''" ng-click="playVideo(item.video)"></div>-->
        </ons-carousel-item>

        <div class="carousel-paginator">
            <div class="paginator-item" ng-repeat="item in params.slider track by $index"
                 ng-class="{'active': current_carousel_index==$index}"></div>
        </div>

        <div class="carousel-external">
            <ons-button class="full-width btn-with-icon btn-big" ng-click="goToPlans()">
                <!--<img src="img/icon_planes.png" alt="">-->
                <span class="text">{{ labels.descuentos }}</span>
            </ons-button>
            <!--<ons-button class="full-width btn-with-icon" ng-click="gotoDailyMenus()">-->
                <!--<img src="img/icon_menus.png" alt="">-->
                <!--<span class="text">MENÚ / LA CARTA</span>-->
            <!--</ons-button>-->
            <ons-button ng-show="!getUser()" class="full-width btn-with-icon map" ng-click="goToPreRegister()">
                <img src="img/icon_like.png" alt="">
                <span class="text">{{ labels.hazte_socio }}</span>
            </ons-button>
            <!--<ons-button class="full-width" ng-click="gotoComoFunciona()">-->
                <!--<img src="img/icon_queplan_button.png" alt="">-->
            <!--</ons-button>-->
        </div>
    </ons-carousel>
</ons-page>